[Unit]
Description=Mixmaster inbox path service

[Service]
User=mixmaster
Group=mixmaster
WorkingDirectory=/home/mixmaster
ExecStart=/home/mixmaster/.local/bin/mmbuild.p6

# Local Variables:
# mode: conf
# End:
