[Unit]
Description=Mixmaster inbox path service

[Service]
User=mixmaster
Group=mixmaster
Environment=PERL6LIB=inst#/home/mixmaster/modules
WorkingDirectory=/home/mixmaster/builds
ExecStart=/home/mixmaster/bin/mmbuild.p6

# Local Variables:
# mode: conf
# End:
