[Unit]
Description=Mixmaster Bridge Service

[Service]
User=mixmaster
Group=mixmaster
StandardInput=socket
StandardError=journal
WorkingDirectory=/home/mixmaster
ExecStart=/home/mixmaster/.local/bin/perl6 /home/mixmaster/.local/bin/mmbridge.p6

# Local Variables:
# mode: conf
# End:
