[Unit]
Description=Mixmaster Bridge Socket

[Socket]
SocketUser=mixmaster
SocketGroup=mixmaster
ListenStream=8585
Accept=yes
ReusePort=true

[Install]
WantedBy = sockets.target

# Local Variables:
# mode: conf
# End:
